@page "/"
<pagetitle> nr. Albumu 110986 </pagetitle>
<h1>Jan Woźniak 110986</h1>
<table>
    <tr>
        <th>Cennik</th>
    </tr>
    <tr>
        <td>Diagnostyka komputa</td>
        <td>25zł</td>
    </tr>
    <tr>
        <td>Zbudowanie konfiguracji od zera</td>
        <td> 100zł + ceny podzespołów</td>
    </tr>
    <tr>
        <td>Konserwacja komputera</td>
        <td>60zł</td>
    </tr>
    <tr>
        <td>Odzyskiwanie danych</td>
        <td>150zł</td>
    </tr>
</table>



